  <% content_for :head do %>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <% end %>

  <div class="navbar">
    <div class="row">
      <span class="logo">CharityStreak</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="contribution-header">
        <div class="twocol"></div>
        <div class="splash-text help-me-header eightcol"><%= content_tag :span, @user_name, class: "owner_name_header" %> needs your help!</div>
        <div class="twocol"></div>
      </div>
    </div>
    <div class="row">
      <div class="contribution">
        <div class="well contribution-well">
          <div id="explanation-section">
            <h4><%= content_tag :span, @user_name, class: "owner_name" %> has set the goal &quot;<%= content_tag :span, @goal.name, class: "goal_name" %>&quot;.</h4>
            <p>
              Donations made as part of their participation in Charity Streak go towards worthy <span class="donors_choose">donorschoose.org</span> projects.  <%= content_tag :span, @user_name, class: "owner_name" %> is working hard to earn donations for <span class="donors_choose">donorschoose.org</span> projects like this:
            </p>
            <div id="project-info">
              <h4 class="truncate-header"><a class="header-link" href="<%= @project_proposal_url %>"><%= @project_title %></a></h4>
              <div class='explanation-image'>
                <a href="<%= @project_proposal_url %>"><%= image_tag @project_image_url %></a>
              </div>
              <div class='school-info'>
                <p class="truncate"><%= @project_school_name %></p>
                <p class="truncate"><%= @project_city %>, <%= @project_state %></p>
                <p class="truncate"><a href="<%= @project_proposal_url %>">Learn more...</a></p>
              </div>
            </div>
          </div>
          <div id="contribution-section">
            <%= form_tag contributions_path, method: "post", id: 'contribution_form' do %>
              <% @expiration_months = (1..12).to_a %>
              <% @expiration_years = (2012..2022).to_a %>
              <% @contribution_amounts = [10,20,25,30,40,50,100] %>
              <%= hidden_field_tag :goal_token, @goal.token %>
              <div class="plea-text">
                <h4>Please think of the children and contribute to a worthwhile cause.</h4>
              </div>
              <div class="contribution-amount">
                <div class="amount-label"><%= label_tag :amount, "Contribution amount" %></div>
                <div class="amount-select"><span class="currency">$&nbsp;</span><%= select_tag :amount, options_for_select(@contribution_amounts) %></div>
              </div>
              <div class="cardholder_name">
                <%= label_tag :cardholder_name, "Cardholder's name" %><br />
                <%= text_field_tag :cardholder_name, "", placeholder: "John Smith" %>
              </div>
              <div class="card_number">
                <%= label_tag :card_number, "Card number" %><br />
                <%= text_field_tag :card_number, "", autocomplete: "off", placeholder: "xxxx-xxxx-xxxx-xxxx" %>
              </div>
              <div class="expiry_and_cvc">
                <div class="card_expiration">
                  <%= label_tag :card_expiration_month, "Expiration date" %><br />
                  <span><%= select_tag :card_expiration_month, options_for_select(@expiration_months) %></span>
                  <span><%= select_tag :card_expiration_year, options_for_select(@expiration_years) %></span>
                </div>
                <div class="card_cvc">
                  <%= label_tag :card_sec_code, "CVC" %><br />
                  <%= text_field_tag :card_sec_code, "", autocomplete: "off", placeholder: "123" %>
                </div>
              </div>
              <div class="form_actions">
                <button id='contribute_button' type="submit">Make a contribution</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    
<style>
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background: url(assets/splash4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1000;
  }

  body {
    font-family: 'Century Gothic', sans-serif;
  }
</style>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_GUOYwDyaIdCJWD6LFJ0cKKR7CleT8');
    
    $(document).ready(function() {
      $("#contribution_form").submit(function(event) {
        // disable the submit button to prevent repeated clicks
        $('#contribute_button').attr("disabled", "disabled");
        console.log()
        Stripe.createToken({
            number: $('#card_number').val(),
            cvc: $('#card_sec_code').val(),
            exp_month: $('#card_expiration_month').val(),
            exp_year: $('#card_expiration_year').val()
        }, stripeResponseHandler);

        // prevent the form from submitting with the default action
        return false;
      });
    });
    
    function stripeResponseHandler(status, response) {
        if (response.error) {
            // show the errors on the form
            $("#contribute_button").removeAttr("disabled");
            alert("Your payment information was invalid.  Please check the information that you entered and try again.")
        } else {
            var form$ = $("#contribution_form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripe_token' value='" + token + "'/>");
            // remove credit card data from the form
            $('#card_number').val("");
            $('#card_sec_code').val("");
            $('#card_expiration_month').val("");
            $('#card_expiration_year').val("");
            // and submit
            form$.get(0).submit();
        }
    }
</script>
