<!DOCTYPE html>
<html>
<head>
  <title>CharityStreak</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "ur-19d257bf-2345-9ec9-6125-ec72a220ec5e"}); </script>
</head>
<body>
  <% if current_user %>
    <%= content_tag "div", class: "user-meta", data: { token: current_user.authentication_token, email: current_user.name } do %><% end %>
  <% end %>
  <%= yield %>
</body>
</html>
